.App {
  margin-top: 30px;
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
}
.conten{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(55, 193, 248);
}
.contenbox{
  display: flex;
  align-items: center;
}
.list{
  background-color: rgb(55, 193, 248);
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}
.list ul {
  display: flex;
  flex: 1;
  height: 50px;
  align-items: center;
}
.list ul li {
  list-style: none;
  flex: 1;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
